<nav class="navbar navbar-expand-sm py-1" th:fragment="navbar">
	<!--    TODO: finish-->
	<div class="container-fluid">
		<a th:href="@{/}" class="navbar-brand">Findwork</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
				<li class="nav-item">
					<a th:href="@{/offers/}" class="nav-link">Offers</a>
				</li>
				<li class="nav-item dropdown" sec:authorize="isAuthenticated()">
					<a class="nav-link dropdown-toggle" th:text="${#authentication.principal.getName()}"
					   th:href="@{/user/{id}(id=${#authentication.principal.id})}" role="button"
					   data-bs-toggle="dropdown"
					   aria-expanded="false">
					</a>
					<ul class="dropdown-menu" style="background-color: gray">
						<li sec:authorize="hasAuthority('User')"><a
								th:href="@{/user/{id}(id=${#authentication.principal.id})}" class="dropdown-item">Profile</a>
						</li>
						<li sec:authorize="hasAuthority('Company')"><a
								th:href="@{/company/{id}(id=${#authentication.principal.id})}" class="dropdown-item">Profile</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a th:href="@{/logout}" class="dropdown-item">Log out</a></li>
					</ul>
				</li>
				<li class="nav-item ms-auto" sec:authorize="isAnonymous()">
					<a th:href="@{/login}" class="nav-link">Log in</a>
				</li>
				<li class="nav-item dropdown" sec:authorize="isAnonymous()">
					<a class="nav-link dropdown-toggle"
					   role="button"
					   data-bs-toggle="dropdown"
					   aria-expanded="false">Sign up
					</a>
					<ul class="dropdown-menu" style="background-color: gray">
						<li><a th:href="@{/register/person}" class="dropdown-item">Register User</a></li>
						<li><a th:href="@{/register/company}" class="dropdown-item">Register Company</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>