body{
    margin: 0;
    font-family: system-ui;
    background-image: url("img_4.png");
}

#yourProfile{
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: center;
    justify-items: center;
}

.details {
    position: center;
    box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
    width: 900px;
    /*size: auto;*/
    text-align: center;
    border: 1px solid aqua;
    background: #2A2A2A;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;;
    padding: 20px 3px;
    border-radius: 40px;
}
.details p{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    text-align: center;
    font-size: x-large;
}
.yourProfile {
    padding-left: 10px;
    padding-top: -10px;
}

.yourProfile h1 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color:aqua;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-variant-position: normal;
}
.divStyle {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.lebStyle{
    margin: auto;
    color: aqua;
}
.aStyle{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.aStyle:hover{
    color: white;
}

.actionBtn {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    size: auto;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: white;
    border: 2px solid #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 9px #999;
    color: black;
    cursor: pointer;
    font-size: 20px;
    width:150px;
    text-align: center;
    text-decoration: none;
    outline: none;
}

.actionBtn:hover {
    background-color: aqua;
    color: black;
}

.actionBtn:active {
    box-shadow: #2A2A2A 2px 2px 0 0;
    transform: translate(2px, 2px);
}
.decorBTN{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.styleButton{
    display: inline-block;
    padding: 8px 20px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: 2px solid #e7e7e7;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.styleButton:hover {
    background-color: lightcyan;
    color: black;
}
.styleButton:active {
    background-color: darkcyan;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/*.createBTN{*/
/*    margin: auto;*/
/*    size: auto;*/
/*    font-family: "Comic Sans MS", cursive, sans-serif;*/
/*    font-size: 18px;*/
/*    cursor: pointer;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    outline: none;*/
/*    color: black;*/
/*    width: 155px;*/
/*    background-color: white;*/
/*    border: 2px solid #e7e7e7;*/
/*    border-radius: 20px;*/
/*    box-shadow: 0 9px #999;*/
/*}*/
.formStyle{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
/*.createBTN:hover {background-color: aqua;  color: black}*/
/*.createBTN:active {*/
/*    color: black;*/
/*    background-color: aqua;*/
/*    box-shadow: 0 5px #666;*/
/*    transform: translateY(4px);*/
/*}*/
#yourOffer{
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: center;
    justify-items: center;
    size: auto;
    flex-direction: column;
    box-sizing: border-box;
}
.offers-board {
    display: flex;
    box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
    width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /*size: auto;*/
    text-align: center;
    border: 1px solid aqua;
    background: #2A2A2A;
    padding: 20px 3px;
    border-radius: 40px;
}
.card-body {
    padding-left: 10px;
    padding-top: -10px;
    size: auto;
}

.card-body h5 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color:aqua;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-variant-position: normal;
}
button.custom.active{
    background-color: darkcyan!important;
}
