body{
    margin: 0;
    font-family: system-ui;
    background-image: url("img_4.png");
}
.first{
    margin: 0;
}
.dashboard-title {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color:aqua;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-variant-position: normal;
}
#dashboard {
    display: flex;
    scroll-behavior: smooth;
    margin-left: 20px;
    margin-right: 20px;
    size: auto;
    flex-direction: column;
    box-sizing: border-box;
}
#dashboard p{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    text-align: center;
    font-size: x-large;
}
.col-4{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color:aqua;
    background: none;
    font-weight: 200;
    size: auto;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-variant-position: normal;
}
#jobLevel{
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
}
#jobCategory{
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
}
input[name="search"]{
    background-color: white;
    border-radius: 15px;
    text-align: center;
}
.btn{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    width:120px;
    background-color: white;
    border: 2px solid #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 9px #999;
}
.btn:hover {background-color: aqua;  color: black}
.btn:active {
    color: black;
    background-color: aqua;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.offers-board {
    display: flex;
    box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
    width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /*size: auto;*/
    text-align: center;
    border: 1px solid aqua;
    background: #2A2A2A;
    padding: 20px 3px;
    border-radius: 40px;
}
.card-body {
    padding-left: 10px;
    padding-top: -10px;
    size: auto;
}

.card-body h5 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color:aqua;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-variant-position: normal;
}
.divStyle {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.lebStyle{
    margin: auto;
    color: aqua;
}
.aStyle{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.aStyle:hover{
    color: white;
}
.companyName{
    color: white;
}
.companyName:hover{
    color: aqua;
}
.divBtn{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    position: center;
}
/*.btnSeeMore{*/
/*    margin: auto;*/
/*    margin-top: 5px;*/
/*    margin-bottom: 5px;*/
/*    display: inline-block;*/
/*    !*position: initial;*!*/
/*    font-family: "Comic Sans MS", cursive, sans-serif;*/
/*    padding: 5px;*/
/*    font-size: 15px;*/
/*    cursor: pointer;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    outline: none;*/
/*    color: black;*/
/*    width:120px;*/
/*    background-color: white;*/
/*    border: 2px solid #e7e7e7;*/
/*    border-radius: 20px;*/
/*    box-shadow: 0 9px #999;*/
/*}*/
/*.btnSeeMore:hover {background-color: aqua;  color: black}*/
/*.btnSeeMore:active {*/
/*    !*color: black;*!*/
/*    !*background-color: aqua;*!*/
/*    box-shadow: 0 5px #666;*/
/*    transform: translateY(4px);*/
/*}*/
.no-offers {
    font-size: 26px;
    font-weight: bolder;
    border: black solid;
    padding: 30px;
}
.styleButton{
    display: inline-block;
    padding: 8px 20px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: 2px solid #e7e7e7;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.styleButton:hover {
    background-color: lightcyan;
    color: black;
}
.styleButton:active {
    background-color: darkcyan;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

