body {
    margin: 0;
    font-family: system-ui;
    background-image: url("img_4.png");
}

p {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    text-align: center;
    font-size: x-large;
}

#detailsPage {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-items: center;
}

.details {
    position: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 6px 6px 20px #464a4e62, -6px -6px 20px #464a4e62;
    size: auto;
    text-align: center;
    border: 1px solid aqua;
    background: #2A2A2A;
    padding: 20px 3px;
    border-radius: 40px;
    max-width: 100vw;
    overflow-wrap: break-word;
}

.offerInfo {
    padding-left: 10px;
    padding-top: -10px;
}

.offerInfo h1 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: aqua;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-variant-position: normal;
}

.lebStyle {
    margin: auto;
    color: aqua;
}

.aStyle {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.aStyle:hover {
    color: white;
}

.divStyle {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.styleButton{
    display: inline-block;
    padding: 8px 20px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: 2px solid #e7e7e7;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.styleButton:hover {
    background-color: lightcyan;
    color: black;
}
.styleButton:active {
    background-color: darkcyan;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
