<!DOCTYPE html>
<html lang="en">
<!--<th:block th:insert="fragments/head :: head(title = 'FindWork')">-->
<!--</th:block>-->
<head>
    <meta charset="UTF-8">
    <link href="homeDecor.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   <title>FindWork</title>
</head>
<body class="homebody">
<!--<th:block th:insert="fragments/navbar :: navbar"></th:block>-->
<!--<table class = "styleTable">-->
<!--    <tr>-->
<!--        <td style="width:30%;"></td>-->
<!--        <td>-->
            <div class="title">
                <p>Welcome to FindWork!</p>
                <div class="styleDivLogo">
                    <img class="styleLogo" src="img.png">
                </div>
            </div>
<!--        </td>-->
<!--        <td style="width:30%;"></td>-->
<!--    </tr>-->
<!--</table>-->
<!--<table class = "styleTable">-->
<!--    <tr>-->
<!--        <td style="width:5%;"></td>-->
<!--        <td>-->
            <div class="item1">
                <p>If you want to start your career or want to attract new people to your team, then you are in the right place!</p>
            </div>
<!--        </td>-->
<!--        <td style="width:5%;"></td>-->
<!--    </tr>-->
<!--</table>-->
<!--<table class = "styleTable">-->
<!--    <tr>-->
<!--        <td style="width:25%;"></td>-->
<!--        <td>-->
            <div class="item2">
                  <p>Create your account in the best page!</p>
                <div class="buttons">
                    <button  id="start-submit" type="submit" class="decorItem">Start career!</button>
                    <button  id="grow-submit" type="submit" class="decorItem">Grow your team!</button>
                </div>
            </div>
<!--        </td>-->
<!--        <td style="width:25%;"></td>-->
<!--    </tr>-->
<!--</table>-->
            <div class="item3">
                <p>If you already have one</p>
                <button id="login-submit" type="submit" class="button">Log in</button>
            </div>


</body>
</html>