.homebody{
    background: no-repeat;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left bottom, #64ade5, #37bff0, #00d1f2, #00e1ea, #00efd9, #2aedcd, #3febc1, #50e9b5, #3bd8b1, #26c7ab, #12b7a4, #00a69c);

}
/*.decorItem{*/
/*    display: inline-block;*/
/*    padding: 15px 25px;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    outline: none;*/
/*    color: black;*/
/*    background-color: white;*/
/*    border: 2px solid #e7e7e7;*/
/*    border-radius: 15px;*/
/*    box-shadow: 0 9px #999;*/
/*}*/
/*.decorItem:hover {background-color: aqua}*/

/*.decorItem:active {*/
/*    background-color: aqua;*/
/*    box-shadow: 0 5px #666;*/
/*    transform: translateY(4px);*/
/*}*/
.decorItem{
    display: inline-block;
    padding: 12px 20px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: 2px solid #e7e7e7;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.decorItem:hover {
    background-color: lightcyan;
    color: black;
}
.decorItem:active {
    background-color: darkcyan;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/*.button {*/
/*    background-color: white;*/
/*    color: black;*/
/*    border: 2px solid #e7e7e7;*/
/*}*/

/*.button:hover {background-color: aqua;}*/

.title{
    margin-left: 35%;
    margin-right: 25%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-variant-position: normal;
}
.styleLogo{
    width: 100px;
    height: 80px;
}
.styleDivLogo{
    margin-left: 25%;
    margin-right: 25%;
}
.item1{
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}
.item2{
    margin-left: 35%;
    margin-right: 35%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}
.item3{
    margin-left: 35%;
    margin-right: 35%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

