<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">&ndash;&gt;-->
<th:block th:insert="fragments/head :: head(title = 'FindWork')">
</th:block>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/navbarDecor.css}">
    <link rel="stylesheet" th:href="@{/css/homeDecor.css}">
    <title>FindWork</title>
</head>

<body>
<th:block th:insert="fragments/navbar :: navbar"></th:block>
<div class="first">
    <div>
        <div class="title">
            <h1>Welcome to FindWork!</h1>
        </div>
        <!--    <div class="styleDivLogo">-->
        <!--        <img class="styleLogo" src="img.png">-->
        <!--    </div>-->
        <div>
            <div class="item1">
                <p>If you want to start your career or want to attract new people to your team, then you are in the right place!</p>
            </div>

            <div class="item2">
                <p>Create your account in the best page!</p>
                <div class="buttons">
                    <a   th:href="@{/register/person}" class="decorBTNItem">Start career!</a>
                    <p class="or">or</p>
                    <a   th:href="@{/register/company}" class="decorBTNItem">Grow your team!</a>
                </div>
            </div>

            <div class="item3">
                <p>If you already have one, please</p>
                <a th:href="@{/login}" class="btn">log in</a>
            </div>
        </div>
    </div>
</div>

<footer class="footer">FindWork 2022©</footer>

<script th:src="@{/scripts/validateForm.js}"></script>
</body>
</html>