<!DOCTYPE html>
<html  class="html" lang="en">
<th:block th:insert="fragments/head :: head(title = 'Login')">
</th:block>
<link rel="stylesheet" href="/scripts/CssStyles/styleLogin.css">
<link rel="stylesheet" th:href="@{/css/navbarDecor.css}">
<link rel="stylesheet" th:href="@{/css/homeDecor.css}">
<title>FindWork</title>
<body class="body">
<th:block th:insert="fragments/navbar :: navbar"></th:block>
<form action="/login" class="validate" style="height: 500px" method="POST">
	<div class="container-xxl text-center" style="height: 100%; width: 100%;margin: auto;">
		<label class="stylePageName2">Login</label>
		<div class="styleBox2">
			<input class="styleInputSmall2" type="text" placeholder="Email:" id="username" name="username" required autofocus/>
			<div class="valid-feedback">Looks Good!</div>
			<input class="styleInputSmall2" type="password" placeholder="Password:" id="password" name="password" required/>
			<div class="valid-feedback">Looks Good!</div>
			<button class="styleButton">Login</button>
		</div>
		<div style="font-size: 22px; color: #ff0000;margin: auto;" th:if="${param.error}">
			Invalid username and password.
		</div>
	</div>

</form>
<div style="margin: auto; margin-bottom: 90%">
	<p style="font-size: 22px; color: #e7e7e7" th:if="${error != null}" th:text="${error}"></p>
</div>
<footer class="footer">FindWork 2022©</footer>
</body>
</html>