<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Offers</title>
</head>
<body>
    <th:block th:each="offer : ${offers}">
        <li th:text = "${offer.title}">
            <li th:text= "${offer.requirements}"></li>
            <li th:text= "${offer.location}"></li>
            <li th:text= "${offer.salary}"></li>
            <li th:text= "${offer.jobLevel}"></li>
            <li th:text= "${offer.jobCategory}"></li>
            <li th:text= "${offer.company.name}"></li>
    </th:block>
</body>
</html>