<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/navbarDecor.css}">
	<link rel="stylesheet" th:href="@{/css/dashboardDecor.css}">
	<link rel="stylesheet" th:href="@{/css/footerDecor.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
	        crossorigin="anonymous"></script>
	<title>Offers</title>
</head>
<body>
<!--TODO: finish-->
<th:block th:insert="fragments/navbar :: navbar"></th:block>
<div class="first">
	<h1 class="dashboard-title">Offers</h1>
	<div class="col-4">
		<form th:action="@{/offers/}" role="search" method="get">
			<div>
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
			</div>
			<div>
				<label for="jobLevel">Position level:</label>
				<select id="jobLevel" name="jobLevel">
					<option>--Any--</option>
					<option th:each="level: ${levels}" th:value="${level}" th:text="${level}"></option>
				</select>
				<label for="jobCategory">Category:</label>
				<select id="jobCategory" name="jobCategory">
					<option>--Any--</option>
					<option th:each="category: ${categories}" th:value="${category}" th:text="${category}"></option>
				</select>
			</div>
			<div>
				<button class="styleButton" type="submit">Search</button>
			</div>
		</form>
	</div>
		<section id="dashboard">
			<p th:if="${offers.isEmpty()}">Sorry, no offers match your criteria!</p>
		<th:block th:each="offer: ${offers}">
			<div class="offers-board">
				<div class="card-body">
					<h5 th:text="${offer.title}" class="card-title"></h5>
					<div class="divStyle">
						<label  class="lebStyle">Company: </label>
						<a th:href="@{/company/{id}(id=${offer.company.id})}" th:text="${offer.company.name}"
						   class="companyName"></a>
					</div>
					<div class="divStyle">
						<label  class="lebStyle">Location: </label>
						<a th:text="${offer.location}" class="aStyle"></a>
					</div>
					<div class="divStyle">
						<label  class="lebStyle">Salary: </label>
						<a th:text="${offer.salary}" class="aStyle"></a>
					</div>
					<div class="divStyle">
						<label  class="lebStyle">Level: </label>
						<a th:text="${offer.jobLevel}" class="aStyle"></a>
					</div>
					<div class="divStyle">
						<label class="lebStyle">Category: </label>
						<a th:text="${offer.jobCategory}" class="aStyle"></a>
					</div>
					<div class="divBtn">
						<a th:href="@{/offers/{id}(id=${offer.id})}" class="styleButton">See more</a>
					</div>
				</div>
			</div>
		</th:block>
	</section>
</div>
<footer>FindWork 2022©</footer>
</body>
</html>